################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FindAndExploreApi.Models/bin
/FindAndExploreApi.Models/obj
/FindAndExploreApi.Client/bin
/FindAndExploreApi.Client/obj
